<div fxLayout="row" fxLayoutGap="6px" class="icons">
        <button mat-icon-button><img src="assets\add_alert_black_18dp.svg" alt=""></button>
        <button mat-icon-button><img src="assets\person_add_alt_black_18dp.svg" alt=""></button>
        <button mat-icon-button [matMenuTriggerFor]="colormenu"><img src="assets\palette_black_18dp.svg" alt=""></button>
        <mat-menu #colormenu="matMenu" yPosition="below">
                <button mat-menu-item style="background-color:#ccff90;"></button>
                <button mat-menu-item style="background-color:#a7ffeb;" ></button>
                <button mat-menu-item style="background-color:#cbf0f8;" ></button>
                <button mat-menu-item style="background-color:#aecbfa;" ></button>
        </mat-menu>
        <button mat-icon-button><img src="assets\image_black_18dp.svg" alt=""></button>
        <button mat-icon-button (click)="archive()"><img src="assets\archive_black_18dp.svg" alt=""></button>
        <button mat-icon-button [matMenuTriggerFor]="menu"><img src="assets\more_vert_black_18dp.svg" alt=""></button>
        <mat-menu #menu="matMenu">
                <button mat-menu-item (click)="delete()">Delete note</button>
        </mat-menu>
</div>