<div class="signin" fxLayoutAlign="center center" >
    <mat-card fxFlex="28" >
        <form [formGroup]="forgotForm" (ngSubmit)="submit()">
            <div fxLayout="column" fxLayoutAlign="center center">
                <h1>
                    <span style="color:blue">F</span>
                    <span style="color:red">u</span>
                    <span style="color:yellow">n</span>
                    <span style="color:blue">d</span>
                    <span style="color:green">o</span>
                    <span style="color:red">o</span>
                </h1>
                <h1>Account Recovery</h1>
               <p>This helps show that this account really belongs to you</p>
            </div>              
            <div fxLayout="column">
                <mat-form-field  appearance="outline">
                    <mat-label>Email or Phone</mat-label>
                    <input matInput formControlName="email">
                    <mat-error>Email required</mat-error>
                </mat-form-field>
            </div>
            <div fxLayoutAlign="end" >
                <button button class="button" mat-raised-button>submit</button>
            </div>
        </form>
    </mat-card>  
</div>
    

