<div class="content" fxLayout="row wrap" fxLayoutGap="15px grid" fxFlexFill>
    <div *ngFor="let note of savedNotes">
        <mat-card class="card" >
            <mat-card-content>
                <div>
                    <p (click)="openDialog(note)"><strong>{{note.title}}</strong></p>
                </div>
                <div>
                    <p (click)="openDialog(note)">
                        {{note.description}}
                    </p>
                </div>
                <mat-card-footer >
                    <app-icons class="icons" [noteObject]="note"></app-icons>
                </mat-card-footer>
            </mat-card-content>
        </mat-card>
    </div>
</div>