.content{
    padding-top: 80px;
    padding-left: 70px;
}
.card{
    border-color: lightgray;
    border-radius: 4%;
    border-width: 1px;
    border-style:solid;
}
.icons{
    visibility: hidden;
}
.card:hover .icons{
    visibility: visible;
}
.card:hover{
    box-shadow:3px 3px 3px gray ;
}
.texta{
    flex-wrap: wrap;
    flex-direction: row;
}
.titlenote{
    flex-wrap: wrap;
    flex-direction: row;

}