.link1{     
    color: #1a73e8;
    text-decoration: none;
    padding-bottom: 5%;
}
.show{
    padding-top: 5%;
    padding-bottom: 5%;
}
.link2{
    color: #1a73e8;
    padding-left: 1px;
    width: 30%;
}
.button{
   background: #1a73e8;
   color: aliceblue; 
}
.signin{
    margin-top: 7.5%;
}