<div class="signin" fxLayoutAlign="center center" >
    <mat-card fxFlex="29" >
        <form [formGroup]="resetForm" (ngSubmit)="submit()">
            <div fxLayout="column" fxLayoutAlign="center center">
                <h1>
                    <span style="color:blue">F</span>
                    <span style="color:red">u</span>
                    <span style="color:yellow">n</span>
                    <span style="color:blue">d</span>
                    <span style="color:green">o</span>
                    <span style="color:red">o</span>
                </h1>
                <h2>Reset Password</h2>
            </div>              
            <div fxLayout="column">
                <mat-form-field  appearance="outline">
                    <mat-label>Enter New Password</mat-label>
                    <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="NewPassword">
                    <mat-error>Password required</mat-error>
                </mat-form-field>
                <mat-form-field  appearance="outline">
                    <mat-label>Confirm New Password</mat-label>
                    <input matInput [type]="showPassword ? 'text' : 'password'" formControlName="ConfirmPassword" >
                    <mat-error>Password required</mat-error>
                </mat-form-field> 
            </div>
            <div class="container1" >                    
                <div><mat-checkbox matSuffix (click)="checkboxPassword()">show password</mat-checkbox></div>
            </div>
            <div fxLayoutAlign="end" >
                <button class="button" mat-raised-button>Reset</button>
            </div>
        </form>
    </mat-card>  
</div>
    

